<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
  <img src="https://th.bing.com/th/id/OIG.CSC6CJOxIUp6.2TzyhW6?pid=ImgGn" alt="Amherst Manor Apartments" width="400" height="300">
</a>
   <br/>
Welcome to Amherst Manor Apartments! Please choose an option:
<body>
    <p>
        <a href="/enternew">Create a new Support Ticket</a>
    </p>
    <p>
        <a href="/list">See current Support Tickets</a>
    </p>
    <p>
        <a href="/edit_ticket">Respond to Support Ticket</a>
    </p>
</body>

</html>
