{% extends "bootstrap/base.html" %}

{% block content %}
<form action="{{url_for('modify')}}" method="POST">
   <h3>Add notes or mark complete</h3>
<br/>
   Ticket ID*:<br/>
    <textarea id="textbox" name="ticketid" rows="1" cols="3"></textarea>
<br/>
<br/>
   Modify Notes (Indicate if complete, in progress, or needs additional support)*:<br/>
    <textarea id="textbox" name="notes" rows="10" cols="50"></textarea>
<br/>
<button type="submit" class="btn btn-primary">Edit Notes</button>
</form>

</body>

</html>
{% endblock %}
