{% extends "bootstrap/base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ticket</title>
</head>
<h1>Ticket Information</h1>

<table class="table table-striped table-bordered">
   <thead class="bg-primary">
      <td>Ticket ID</td>
      <td>Apartment Number</td>
      <td>Urgency</td>
      <td>Room</td>
      <td>Permission to Enter?</td>
      <td>Problem details</td>
      <td>Ticket Status</td>
      <td>Ticket Notes</td>
   </thead>

   {% for row in rows %}
   <tr class="bg-info">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
      <td>{{row[6]}}</td>
      <td>{{row[7]}}</td>
   </tr>
   {% endfor %}
<form action="{{url_for('modify')}}" method="POST">
   <h3>Add notes and mark complete</h3> 
   <button type="button" class="btn btn-warning"><a href = "/">Return to Menu</a></button>
<br/>
   Ticket ID*:<br/>
    <textarea id="textbox" name="ticketid" rows="1" cols="3"></textarea>
<br/>
<label for="status">Edit Status*:</label>
    <select name="status" id="status">
       <option value="complete">Ticket Complete</option>
       <option value="needs followup">Needs additional support</option>
       <option value="cancelled">Ticket Cancelled</option>
    </select>
    <br/>
    Additional Notes:<br/>
    <textarea id="textbox" name="notes" rows="10" cols="50"></textarea>
    <br/>

<button type="submit" class="btn btn-success">Update Ticket</button>
<br/>
</form>

</body>

</html>
{% endblock %}
