{% extends "bootstrap/base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ticket</title>
</head>
<form action="{{url_for('modify')}}" method="POST">
   <h3>Add notes and mark complete</h3> 
   <br/>
   <button type="button" class="btn btn-secondary"><a href = "/list">See all tickets</a></button>
   <button type="button" class="btn btn-warning"><a href = "/">Return to Menu</a></button>
<br/>
   Ticket ID*:<br/>
    <textarea id="textbox" name="ticketid" rows="1" cols="3"></textarea>
<br/>
<br/>
<label for="status">Edit Status*:</label>
    <select name="status" id="status">
       <option value="complete">Ticket Complete</option>
       <option value="needs followup">Needs additional support</option>
       <option value="ticket cancelled">Ticket Cancelled</option>
    </select>
    <br/>
    Additional Notes:<br/>
    <textarea id="textbox" name="notes" rows="10" cols="50"></textarea>
    <br/>

<button type="submit" class="btn btn-primary">Update Ticket</button>
</form>

</body>

</html>
{% endblock %}
